
.features-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
}

.feature-inner {
    height: 100%;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    .feature-icon {
        flex-shrink: 0;
        img {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    p {
        margin-top: auto;
    }
}
